.filmsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.filtersSpacer {
  width: 30%;
  max-width: 408px;
  margin-right: 24px;
}

.container {
  display: flex;
  flex-direction: row;
}
