.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1;

  width: 100vw;
  padding: 24px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: var(--gray);
}
